core.Microsoft*
core.mongo*
core.python*
env.py
__pycache__/
*.py[cod]
node_modules/
.github/
cloudinary_python.txt
# ignore developement database
*.sqlite3
# ignore compiled python code we don't need in version control
*.pyc
__pycache__